body {
  background-color: #fcb;
  color: #226;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  background-color: #f88;
  padding: 2px;
  margin: 0;
}

p {
  text-align: center;
  background-color: #fd9;
  width: 600px;
  border: 3px dashed #266;
  padding: 1.5em;
  margin: 3em auto;
}