body {
  margin: 0;
  padding: 0;
  background-color: #0058bc;
  color: #fff;
  font-family: 'Arial';
}

a {
  color: #fff;
  text-decoration: underline;
}

.header {
  padding: 3px;
  background-color: #fff;
  color: #107bdf;
  text-align: center;
  font-size: 28px;
}